<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="lecho.app.campus"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="16" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >

		<!-- activities -->
		<activity
			android:name="lecho.app.campus.MainActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="lecho.app.campus.PlaceDetailsActivity"
			android:label="@string/app_name" >
		</activity>
		<activity
			android:name="lecho.app.campus.HelpActivity"
			android:label="@string/app_name" >
		</activity>
		<activity
			android:name="lecho.app.campus.GalleryActivity"
			android:label="@string/app_name" >
		</activity>
		<activity
			android:name="lecho.app.campus.AboutActivity"
			android:label="@string/app_name" >
		</activity>
		<!-- providers -->
		<provider
			android:name="lecho.app.campus..provider.PlaceContentProvider"
			android:authorities="lecho.app.campus..provider.PlaceContentProvider"
			android:exported="false" >
		</provider>
		<provider
			android:name="lecho.app.campus..provider.UnitContentProvider"
			android:authorities="lecho.app.campus..provider.UnitContentProvider"
			android:exported="false" >
		</provider>
		<provider
			android:name="lecho.app.campus..provider.FacultyContentProvider"
			android:authorities="lecho.app.campus..provider.FacultyContentProvider"
			android:exported="false" >
		</provider>
		<provider
			android:name="lecho.app.campus..provider.CategoryContentProvider"
			android:authorities="lecho.app.campus..provider.CategoryContentProvider"
			android:exported="false" >
		</provider>
				<provider
			android:name="lecho.app.campus..provider.PlaceUnitContentProvider"
			android:authorities="lecho.app.campus..provider.PlaceUnitContentProvider"
			android:exported="false" >
		</provider>
		<provider
			android:name="lecho.app.campus..provider.PlaceFacultyContentProvider"
			android:authorities="lecho.app.campus..provider.PlaceFacultyContentProvider"
			android:exported="false" >
		</provider>
		<provider
			android:name="lecho.app.campus..provider.PlaceCategoryContentProvider"
			android:authorities="lecho.app.campus..provider.PlaceCategoryContentProvider"
			android:exported="false" >
		</provider>
	</application>

</manifest>